$def with()
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
    <script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="../static/js/upload_file.js"></script>
    <link rel="stylesheet" href="../static/css/uploadify.css">
</head>
<body>
    <form method="post" action="/">
        <div id="file_upload_holder">
            <input type="file" id="file_upload">
        </div>
    </form>
</body>
</html>