<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile" />
        <br>
        choose examination operation:<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="operation" value="1">Gaussion Blur<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="operation" value="2">Surface  Blur<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="operation" value="3">AWGN(Additive White Gaussian Noise)<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="operation" value="4">Sharpen <br>
        <input type="submit" value="upload"/><br>

    </form>
</body>
</html>